<aside class="sidebar">
    <h1>Star Wars <br> World</h1>
    <div class="sidebar-menu">
        <a routerLink="/people" routerLinkActive="active">People</a>
        <a routerLink="/films" routerLinkActive="active">Films</a>
        <a routerLink="/species" routerLinkActive="active">Species</a>
        <a routerLink="/planets" routerLinkActive="active">Planets</a>
        <a routerLink="/starships" routerLinkActive="active">Starships</a>
        <a routerLink="/vehicles" routerLinkActive="active">Vehicles</a>
    </div>
</aside>